.customer-cont{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3763ae;
}

.customer-left{
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 5%;
}

.customer-count-cont{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    margin-bottom: 25px;
}
.customer-count-icon{
    padding-left: 30px;
}
.customer-count-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.customer-count-value{
    margin: 0;
    font-size: 18pt;
}
.customer-count-title{
    margin: 0;
    font-size: 12pt;
    color: grey;
}

.customer-list-cont{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 75%;
    background-color: #ffffff;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 20px;
}
.customer-list{
    background-color: white;
    width: 100%;
}
.customer-list thead{
    background-color: #3763ae;
    color: white;
}
.customer-list tbody{
    background-color: #f0f0f0;
}
.customer-list td, .customer-list th{
    text-align: center;
    padding: 10px;
    font-weight: 100;
}

.customer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    width: calc(100% - 120px);
    height: 20%;
    background-color: #3763ae;
}

.customer-edit-cont{
    background-color: white;
    height: 60%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 20px;
    border-radius: 20px;
    flex-direction: column;
}
.customer-edit-inputs{
    padding-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
}
.customer-edit-inputs select{
    background-color: #ffffff;
    border: none;
    padding: 0px 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    margin-bottom: 10px;
    border-bottom: 2px solid #3763ae;
}
.customer-edit-inputs select:focus{
    outline: none;
}
.customer-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customer-edit-input{
    background-color: #e2e2e2;
    border: none;
    padding: 15px;
    width: calc(100% - 30px);
    border-radius: 15px;
}
.customer-edit-button {
    background-color: #3763ae;
    border: none;
    padding: 0px 15px;
    height: 45px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px; /* Add this */
    width: calc(13% - 15px); /* Adjust width to fit two buttons */
}
.customer-edit-button:last-child {
    margin-right: 0;
}

.customer-edit-button:hover{
    background-color: #4073cc;
}
.customer-edit-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    width: 100%;
}


::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE/Edge */
body {
  -ms-overflow-style: none;
}

.customer-right{
    width: 40%;
    margin: 0 4%;
    height: 95%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    margin-bottom: 5%;
}
.customer-details-cont{
    background-color: white;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.customer-details-box-cont{
    background-color: white;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: scroll;
}

.customer-details-value{
    border: none;
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 10px;
    width: calc(100% - 30px);
}
.customer-details-box{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin: 10px 0;
    flex-direction: column;
}
.customer-details-key{
    margin: 0;
    color: #444444;
}
.customer-details-title{
    margin: 0;
    color: #3763ae;
    font-size: 18pt;
    padding: 20px;
}
.customer-details-but{
    background-color: #3763ae;
    border: none;
    padding: 15px 35px;
    margin: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12pt;
}
.customer-search-bar{
    width: calc(100% - 38px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    height: 5%;
}
.customer-search-bar input{
    height: 15px;
    width: 40%;
    border: none;
    padding: 15px;
    font-size: 11pt;
    border-radius: 20px;
    background-color: #e2e2e2;
    margin-right: 10px;
}
.customer-search-bar button{
    background-color: #3763ae;
    width: 100px;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.customer-search-bar select{
    background-color: #ffffff;
    border: none;
    padding: 0px 0px;
    padding-bottom: 10px;
    font-size: 10pt;
    margin-right: 20px;
}
.customer-search-bar select:focus{
    outline: none;
}