.followup-main {
    padding: 25px;
    background: #3763ae;
    min-height: 100vh;
}

.followup-main h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

/* Filter */
.followup-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
}

.followup-filter input {
    width: 80px;
    padding: 6px;
}

.followup-filter button {
    background: #096b00;
    color: white;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 4px;
}

.followup-filter button:hover {
    background: #00910c;
}

.followup-table-cont{
    
    border-radius: 20px;
    height: 70vh;
    overflow: auto;
}
/* Table */
.followup-table {
    width: 100%;
    border-collapse: separate;
    background: white;
    border-radius: 20px;
    border-spacing: 0;
}

.followup-table th,
.followup-table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.followup-table th {
    background: #f1f5f9;

}

.followup-table th {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
}

.followup-table tr:hover {
    background: #f9fafb;
}

/* Status */
.danger {
    color: #dc2626;
    font-weight: bold;
}

/* Buttons */
.create-btn {
    background: #16a34a;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.create-btn:hover {
    background: #15803d;
}

/* Info */
.info {
    margin-top: 20px;
    color: #ffffff;
}

.error {
    color: red;
}
