.service-main{
    background-color: #3762ae;
    width: 100%;   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    flex-direction: column;
}

.service-top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-top-main{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-top-box{
    height: 100%;
    background-color: white;
    width:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: none;
}
.service-top-box:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
}
.service-top-box-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.service-top-value{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
.service-top-title{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    color:grey;
}
.service-top-box-icon{
    width: 30%;
}

.service-bottom{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-main{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-bottom-left{
    width: 55%;
    height: 100%;
}
.service-export-box{
    background-color:white;
    border-radius: 20px;
    width: calc(100% - 30px);
    height: calc(25% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.service-export-count{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3762ae;
    border-radius: 10px;
}
.service-export-count p{
    margin: 0;
    padding: 4px;
    color: white;
}
.service-export-count-value{
    font-size: 20pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.service-export-range{
    background-color: #e2e2e2;
    width: 50%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0px;
}
.service-export-fromto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
    height: 55%;
}
.service-export-fromto-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 45%;
}
.service-export-fromto-data p{
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
    margin-right: 10px;
}
.service-export-range input{
   padding: 10px 0px;
   width: calc(100% - 20px);
   border-radius: 10px;
   border: none;
   padding: 10px 10px;
}
.service-export-range button{
    background-color: #3763ae;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 90%;
    height: 40%;
    font-size: 10pt;
    cursor: pointer;
}

.service-bottom-left-top{
    width: calc(100% - 40px);
    height: calc(10% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    padding: 10px 20px;
}
.service-bottom-left-top input{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 12pt;
    background-color: #e2e2e2;
}
.service-bottom-left-top select{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 12pt;
}

.service-bottom-table-cont{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 62%;
    background-color: #ffffff;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid white;
    margin: 20px 0;
}
.service-list{
    background-color: white;
    width: 100%;
}
.service-list thead{
    background-color: #3763ae;
    color: white;
    position: sticky;
    top: 0;
}
.service-list tbody{
    background-color: #f0f0f0;
}
.service-list td, .service-list th{
    text-align: center;
    padding: 10px;
    font-weight: 100;
}
.service-list tbody tr:hover {
    background-color: #e9ecf5;
    cursor: pointer;
}

.service-bottom-right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-right-cont{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.service-bottom-right-top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-right-top-cont{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-bottom-right-top-left{
    font-size: 16pt;
    color: #3763ae;
}
.service-bottom-right-top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-bottom-right-top-right-active{
    background-color: #3763ae;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 12pt;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3763ae;
}
.service-bottom-right-top-right-no-active{
    background-color: white;
    color: #3762ae;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 12pt;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3763ae;
}

.service-bottom-right-bottom{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-right-bottom-edit-cont{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.service-bottom-right-bottom-edit-fetch-box{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-right-bottom-edit-fetch{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-bottom-right-bottom-edit-fetch input{
    width: 72%;
    height: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 12pt;
    background-color: #e2e2e2;
}
.service-bottom-right-bottom-edit-fetch button{
    background-color: #3763ae;
    color: white;
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 20%;
    font-size: 12pt;
    cursor: pointer;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #020202;
    border: none;
    margin: 0px;
    margin-bottom: 20px;
}
.service-bottom-right-bottom-edit-info-box{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.service-bottom-right-bottom-edit-info-cont{
    width: 100%;
    margin-bottom: 20px;

}
.service-bottom-right-bottom-edit-info-cont p{
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}
.service-bottom-right-bottom-edit-info-cont input{
    width: calc(100% - 16px);
    border-radius: 10px;
    border: none;
    padding: 15px 0px;
    padding-left: 15px;
    font-size: 12pt;
    background-color: #e2e2e2;
}
.service-bottom-right-bottom-edit-button-cont{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.service-bottom-right-bottom-edit-submit{
    background-color: #3763ae;
    border: 2px solid #3762ae;
    color: white;
    border-radius: 10px;
    height: 100%;
    padding: 0px 20px;
    font-size: 12pt;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-bottom-right-bottom-edit-submit-as{
    background-color: #ffffff;
    border: 2px solid #3762ae;
    color: #3762ae;
    border-radius: 10px;
    height: 100%;
    padding: 0px 20px;
    font-size: 12pt;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-bottom-right-bottom-edit-no-info-cont{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-bottom-right-bottom-create-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.service-bottom-right-bottom-create-info-box{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
}
.service-bottom-right-bottom-create-info-cont{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.service-bottom-right-bottom-create-info-cont-drop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.service-bottom-right-bottom-create-info-cont-drop select{
    width: calc(80% - 8px);
    border-radius: 10px;
    border: none;
    padding: 15px 0px;
    padding-left: 15px;
    font-size: 12pt;
    background-color: #e2e2e2;
    margin-left: 20px;
}
.service-bottom-right-bottom-create-info-cont p{
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.service-bottom-right-bottom-create-info-cont input{
    width: calc(100% - 16px);
    border-radius: 10px;
    border: none;
    padding: 15px 0px;
    padding-left: 15px;
    font-size: 12pt;
    background-color: #e2e2e2;
}
.service-bottom-right-bottom-edit-info-input-drop{
    background-color: rgb(230, 230, 230);
    padding: 16px 8px;
    border-radius: 10px;
    width: calc(100% );
    margin-bottom: 20px;
    border: none;
}


.service-staffassignform{
    width: 80%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-staffassignform a{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.service-staffassignform div{
    background-color: white;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    z-index: 10;
}
.service-staffassignform div p{
    width: 92%;
    height: 15%;
    background-color: #3762ae;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: 0px 4%;
}
.service-staffassignform form{
    width:80%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-staffassignform form input{
    background-color: #e2e2e2;
    border: none;
    width: 90%;
    height: 5%;
    border-radius: 10px;
    padding: 5%;
    margin: 3% 0%;
    margin-bottom: 6%;
}
.service-staffassignform form button{
    background-color: #3762ae;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 12pt;
    width: 100%;
    margin: 3% 0%;
    padding: 15px 0px;
}
.service-staffassignform form label{
    background-color: none;
    width: 100%;
    font-size: 12pt;
}

.service-export-staff{
    background-color: #e2e2e2;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
}

.service-export-staff .service-export-select{
    width: 85%;
    height: 35%;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.service-export-staff button{
    width: 85%;
    height: 35%;
    border: none;
    border-radius: 10px;
    background-color: #3762ae;
    color: white;
}
