.unavareq-cont{
    background-color: #3763ae;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.unavareq-l{
    width: 54%;
    height: 80%;
    margin: 2%;
    margin-left: 4%;
}
.unavareq-r{
    width: 35%;
    height: 80%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unavareq-r-cont{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.unavareq-details-cont{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.unavareq-details-box-cont{
    background-color: white;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow-y: scroll;
}

.unavareq-details-value{
    border: none;
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 10px;
    width: calc(100% - 30px);
    margin: 0;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.unavareq-details-box{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: 10px 0;
    flex-direction: column;
}
.unavareq-details-key{
    margin: 0;
    color: #444444;
}
.unavareq-details-title{
    margin: 0;
    color: #3763ae;
    font-size: 18pt;
    padding: 20px;
}
.unavareq-details-but{
    background-color: #3763ae;
    border: none;
    padding: 15px 35px;
    margin: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12pt;
}
.unavareq-details-but-r{
    background-color: #e01616;
    border: none;
    padding: 15px 35px;
    margin: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12pt;
}

.unavareq-list{
    background-color: white;
    width: 100%;
}
.unavareq-list thead{
    background-color: #3763ae;
    color: white;
}
.unavareq-list tbody{
    background-color: #f0f0f0;
}
.unavareq-list td, .unavareq-list th{
    text-align: center;
    padding: 10px;
    font-weight: 100;
}

.unavareq-table{
    background-color: white;
    width: 100%;
    height: 100%;
}
.unavareq-table-checkbut{
    background-color: transparent;
    border: none;
    color: #3763ae;
    text-decoration: underline;
    cursor: pointer;
}

.unavareq-divider{
    background-color: #3763ae;
    width: 80%;
    height: 2px;
    margin: 20px 0px;
}

.unavareq-details-new{
    display: flex;
    flex-direction: column;
    width: 75%;
    color: #444444;
}
.unavareq-details-new input{
    width: calc(100% - 30px);
}

.div-gf{
    width: 75%;
    margin-top: 20px;
    color: red;
}